<div class="crud-wrapper" [ngClass]="['mode-' + data.mode, (settings?.id || 'simple') + '-wrapper']">
    <div class="child-wrapper before"
         [ngClass]="[beforeState.value.isActive ? '' : 'hidden', beforeState.value.dialog ? 'dialog' : '', 'mode-' + data.mode]"
         (mousedown)="beforeClose($event)"
         (click)="close(before, $event)">
        <div class="child-content">
            <router-outlet name="before" #before="outlet"></router-outlet>
            <a class="child-close-btn" (click)="close(before, $event)" *ngIf="beforeState.value.dialog"></a>
        </div>
    </div>
    <ng-template #simpleWrapper>
        <div class="main-wrapper" [ngClass]="['mode-' + data.mode]">
            <router-outlet></router-outlet>
        </div>
    </ng-template>
    <div class="main-wrapper" [ngClass]="['mode-' + data.mode]" *ngIf="settings; else simpleWrapper">
        <ng-container [ngComponentOutlet]="componentType"></ng-container>
    </div>
    <div class="child-wrapper after"
         [ngClass]="[afterState.value.isActive ? '' : 'hidden', afterState.value.dialog ? 'dialog' : '', 'mode-' + data.mode]"
         (mousedown)="beforeClose($event)"
         (click)="close(after, $event)">
        <div class="child-content">
            <router-outlet name="after" #after="outlet"></router-outlet>
            <a class="child-close-btn" (click)="close(after, $event)" *ngIf="afterState.value.dialog"></a>
        </div>
    </div>
</div>
