.crud-wrapper {
    .child-wrapper.hidden {
        display: none;
    }
}

.crud-wrapper.mode-inline {
    display: flex;
    gap: 10px;

    .child-wrapper {
        flex: 1;
    }
}

.crud-wrapper.mode-dialog {
    position: relative;

    --close-bg: rgba(0, 0, 0, 0.2);
    --close-size: 14px;
    --close-distance: 16px;
    --close-top-distance: var(--close-distance);
    --close-right-distance: var(--close-distance);

    .child-wrapper, .child-wrapper.dialog:before {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }

    .child-wrapper {
        z-index: 50;
        display: grid;
        place-items: center;
        pointer-events: none;
        overflow: auto;
    }

    .child-wrapper.dialog {
        pointer-events: auto;

        &:before {
            content: "";
            background-color: rgba(0, 0, 0, 0.3);
        }
    }

    .child-content {
        position: relative;
        pointer-events: auto;
        z-index: 1;

        a.child-close-btn {

            --rotation: 45deg;

            position: absolute;
            top: var(--close-top-distance);
            right: var(--close-right-distance);
            width: var(--close-size);
            height: var(--close-size);
            cursor: pointer;
            transition: 0.2s ease;
            background-color: transparent;
            border-radius: 3px;

            &:before, &:after {
                content: '';
                position: absolute;
                top: 50%;
                left: 50%;
                width: 80%;
                transform: translate(-50%, -50%) rotate(var(--rotation));
                height: 1px;
                background: gray;
                transition: 0.2s ease;
            }

            &:after {
                --rotation: -45deg;
            }

            &:hover {
                background-color: var(--close-bg);

                &:before, &:after {
                    background: black;
                }
            }
        }
    }
}
