.crud-wrapper {
    .child-wrapper.hidden {
        display: none;
    }
}

.crud-wrapper.mode-inline {
    display: flex;
    gap: 10px;

    .child-wrapper {
        flex: 1;
    }
}

.crud-wrapper.mode-dialog {
    position: relative;

    --close-distance: 16px;
    --close-top-distance: var(--close-distance);
    --close-right-distance: var(--close-distance);

    .child-wrapper.mode-dialog, .child-wrapper.dialog:before {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }

    .child-wrapper.mode-dialog {
        z-index: 100;
        display: grid;
        place-items: center;
        pointer-events: none;
        overflow: auto;
    }

    .child-wrapper.dialog {
        pointer-events: auto;

        &:before {
            content: "";
            background-color: rgba(0, 0, 0, 0.3);
        }
    }

    .child-wrapper.mode-dialog .child-content {
        position: relative;
        pointer-events: auto;
        z-index: 1;

        close-btn.child-close-btn {
            position: absolute;
            top: var(--close-top-distance);
            right: var(--close-right-distance);
        }
    }
}

.crud-card-buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px 0;
    gap: 5px;
}
