<ng-template #content>
    <ng-container *ngIf="dataLoader">
        <dynamic-table class="table mb-lg"
                       [testId]="settings.id"
                       [columns]="tableColumns"
                       [showFilter]="settings.filter"
                       [dataLoader]="dataLoader"
                       [itemsPerPage]="settings.itemsPerPage"
                       [orderBy]="settings.orderBy"
                       [orderDescending]="settings.orderDescending"
                       [dragStartFn]="dragStartFn"
                       [dragEnterFn]="dragEnterFn"
                       [dropFn]="dropFn"
                       #table>
            <ng-template [pure]="true" [column]="columnNames" let-col="column" let-item="item">
                <td [ngClass]="'column-' + col" (click)="callAction(settings.rowAction, item)">
                    <ng-container [ngComponentOutlet]="cellComponent"
                                  [ngComponentOutletInputs]="{
                                        value: item | getValue: col,
                                        item: item,
                                        list: this,
                                        id: col,
                                        property: tableColumns[col].property
                                      }"></ng-container>
                </td>
            </ng-template>
        </dynamic-table>
    </ng-container>
</ng-template>
<ng-template #footer>
    <div class="crud-card-buttons">
        <ng-container *ngIf="addButton">
            <btn data-testid="AddButton" (click)="addItem()" [icon]="addButton"></btn>
        </ng-container>
        <ng-container *ngFor="let button of buttons">
            <btn [attr.data-testid]="button.testId"
                 [label]="settings.id + '.' + button.button"
                 [type]="button.type"
                 [async-method]="callButton"
                 [context]="button">
            </btn>
        </ng-container>
    </div>
</ng-template>
