<ng-template #content>
    <ng-container *ngIf="dataLoader">
        <dynamic-table class="table mb-lg"
                       globalTemplatePrefix="crud"
                       [testId]="settings.id"
                       [columns]="tableColumns"
                       [showFilter]="settings.listFilter"
                       [data]="dataItems"
                       [dataLoader]="settings.listPreview ? null : dataLoader"
                       [itemsPerPage]="settings.itemsPerPage"
                       [orderBy]="settings.orderBy"
                       [orderDescending]="settings.orderDescending"
                       [dragStartFn]="dragStartFn"
                       [dragEnterFn]="dragEnterFn"
                       [dropFn]="dropFn"
                       (onClick)="callAction(settings.rowAction, $event)"
                       #table>
            <ng-template #fallbackTemplate let-value="value" let-id="id" let-item="item">
                <crud-cell [value]="value"
                           [item]="item"
                           [list]="this"
                           [id]="id"
                           [property]="tableColumns[id].property"></crud-cell>
            </ng-template>
        </dynamic-table>
    </ng-container>
</ng-template>
<ng-template #footer>
    <div class="crud-card-buttons">
        <ng-container *ngIf="addButton">
            <btn data-testid="AddButton" (click)="addItem()" [icon]="addButton"></btn>
        </ng-container>
        <ng-container *ngFor="let button of buttons">
            <btn [attr.data-testid]="button.testId"
                 [label]="settings.id + '.' + button.button"
                 [type]="button.type"
                 [async-method]="callButton"
                 [context]="button">
            </btn>
        </ng-container>
    </div>
</ng-template>
