.crud-card {
    margin-bottom: 50px;
}

.crud-card-buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 0;
}

.crud-card-footer {
    padding-bottom: 10px;
}
